body{
    margin:0;
    background: aqua;
}

img{
    float: left;
    width: 100PX;
    height: 200PX;
    border-style: groove;
    border-color: crimson;
    border-radius: 40px;
    margin-right: 20px;
}
header{
    background-color: darkkhaki;

}
footer{
    background-color: burlywood;
}



.text {
  font-family: 'Roboto', sans-serif;
  max-width: 600px; 
  align-items: right;
}
h1{
    font-size: 70px;
    margin: 0;
}
h2{
    font-size: 50px;
    margin: 0;
}
h4 {
    margin: 0;
	padding: 0;
	border: 0;
}
ul {
    margin: 0;
	padding: 0;
	border: 0;
}
hr {
    margin: 0;
	padding: 0;
	border: 0;
    border: dotted;
    color: black;
}